@use 'assets/css/variables' as *;

.button {
  display: flex;
  align-items: center;

  border: none;

  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;

  background-color: inherit;
  outline: none;

  transition: $button-transition;

  &.hasShadowOnHover:hover {
    box-shadow: $button-shadow;
  }

  i {
    font-size: inherit;

    :not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
