@use 'assets/css/variables' as *;

.hiddenInput {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;

  .hideValueButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3.5rem;
    height: 3.5rem;
    border: $main-border;

    background-color: $white;

    .hideValueIcon {
      font-size: $middle-icon-font-size;
    }
  }
}
