@use 'assets/css/variables' as *;

.card {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  margin: 2rem 0;
  border: $main-border;

  background-color: white;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 1rem;
  }

  &.large {
    width: 27.5vw;
    padding: 2rem 1rem 1rem;
  }

  &.medium {
    width: 20vw;
    padding: 2rem;
  }

  &.small {
    min-width: 12.5vw;
    padding: 1rem;
  }

  &.blue::before {
    background: rgba($blue-accent, 0.2);
  }

  &.orange::before {
    background: rgba($orange-accent, 0.2);
  }

  &.yellow::before {
    background: rgba($yellow-accent, 0.2);
  }

  &.pink::before {
    background: rgba($pink-accent, 0.2);
  }

  &.green::before {
    background: rgba($green-accent, 0.2);
  }

  &.bright-blue::before {
    background: $blue-accent;
  }

  &.bright-orange::before {
    background: $orange-accent;
  }

  &.bright-yellow::before {
    background: $yellow-accent;
  }

  &.bright-pink::before {
    background: $pink-accent;
  }

  &.bright-green::before {
    background: $green-accent;
  }

  &.grey::before {
    background: $main-grey;
  }

  .cardHeader {
    display: flex;
    align-items: center;
    margin: 0 0 1rem;

    .removeButton {
      border-radius: 50%;

      .removeIcon {
        font-size: $middle-icon-font-size;
        color: $main-red;
      }
    }

    .title {
      display: flex;
      flex: 1;
      align-items: baseline;
      margin: 0;

      &.centered {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
  }

  &.numbered {
    counter-increment: list;

    .title::before {
      content: counter(list);

      display: flex;
      flex: 0 0 auto;
      align-items: center;
      justify-content: center;

      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      padding: 1rem;
      border-radius: 50%;
    }

    &.blue {
      &::before {
        background: linear-gradient(
          to right,
          $blue-accent 20%,
          rgba($blue-accent, 0.2) 20%
        );
      }

      .title::before {
        background-color: $blue-accent;
      }
    }

    &.green {
      &::before {
        background: linear-gradient(
          to right,
          $green-accent 20%,
          rgba($green-accent, 0.2) 20%
        );
      }

      .title::before {
        background-color: $green-accent;
      }
    }

    &.orange {
      &::before {
        background: linear-gradient(
          to right,
          $orange-accent 20%,
          rgba($orange-accent, 0.2) 20%
        );
      }

      .title::before {
        background-color: $orange-accent;
      }
    }

    &.yellow {
      &::before {
        background: linear-gradient(
          to right,
          $yellow-accent 20%,
          rgba($yellow-accent, 0.2) 20%
        );
      }

      .title::before {
        background-color: $yellow-accent;
      }
    }

    &.pink {
      &::before {
        background: linear-gradient(
          to right,
          $pink-accent 20%,
          rgba($pink-accent, 0.2) 20%
        );
      }

      .title::before {
        background-color: $pink-accent;
      }
    }

    &.grey {
      &::before {
        background: linear-gradient(
          to right,
          $main-grey 20%,
          rgba($main-grey, 0.2) 20%
        );
      }

      .title::before {
        background-color: $main-grey;
      }
    }
  }
}
