.resultsModal {
  width: 40vw !important;

  .modalBody {
    font-size: 1.5rem !important;

    .cardsContainer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;

      .card {
        width: 15vw;
        max-height: 20vh;

        .statisticValue {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
