@use 'assets/css/variables' as *;

.label {
  padding: 0 0.5rem;
  border-radius: 2.5rem;
  font-size: $small-font-size;

  &.blue {
    background: $blue-accent;
  }

  &.orange {
    background: $orange-accent;
  }

  &.yellow {
    background: $yellow-accent;
  }

  &.pink {
    background: $pink-accent;
  }

  &.green {
    background: $green-accent;
  }

  &.violet {
    background: $violet-accent;
  }

  &.grey {
    background: $main-grey;
  }
}
