@use 'assets/css/variables' as *;

.room {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  width: 100%;
  height: calc(100vh - 60px);

  .info {
    display: flex;
    flex-direction: column;
    margin: 3rem;

    .goBackButton {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 12rem;
      height: 3.5rem;
      margin: 1rem 0;

      font-size: $middle-font-size;
      color: $white;

      background-color: $main-red;

      &.disabled {
        background-color: $dark-red;
      }
    }
  }

  .commentator {
    display: flex;
    flex-direction: column;
    height: 100%;

    .speechBubble {
      position: relative;
      transform: rotate(-4deg) rotateY(15deg);

      width: 26rem;
      height: 22rem;
      margin: 0.5em auto;
      margin: 4rem 4rem 0 2rem;
      padding: 1em;
      border-radius: 0.3rem;

      font-size: $small-font-size;
      color: $dark-blue;
      text-align: center;

      background: $main-green;
    }

    .speechBubble::before,
    .speechBubble::after {
      content: '';
      position: absolute;
      z-index: -1;
    }

    .speechBubble::after {
      inset: 0;
      transform: rotate(2deg) translate(0.35em, -0.15em) scale(1.02);
      border-radius: inherit;
      background: $light-green;
    }

    .speechBubble::before {
      bottom: 0.25em;
      left: 1.25em;
      transform: rotate(45deg) skewX(75deg);

      width: 0;
      height: 1em;
      border: solid 0 transparent;
      border-right: solid 3.5em #f4fbfe;
      border-bottom: solid 0.25em #8ecea6;
    }

    .commentatorImgContainer {
      display: flex;
      justify-content: center;

      .commentatorImg {
        height: 360px;
        margin-top: 20px;
      }
    }
  }
}
