@use 'assets/css/variables' as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .imgContainer {
    display: flex;
    justify-content: center;
    margin-top: 4rem;

    .laptopImg {
      z-index: 0;
      height: 60vh;
    }

    .typingImg {
      position: absolute;
      z-index: 1;
      top: 30vh;
      height: 10vh;
    }

    @media only screen and (max-width: $width-tablet) {
      display: none;
    }
  }

  .arButton {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;

    .arImg {
      height: 30vh;
    }

    &:hover {
      box-shadow: none;
    }

    @media only screen and (max-width: $width-tablet) {
      position: relative;
      bottom: unset;
      left: unset;
    }
  }

  .label {
    font-size: 6rem;
    font-weight: 600;
    line-height: 6rem;
    color: $dark-blue;
    text-align: center;

    @media only screen and (max-width: $width-tablet) {
      display: none;
    }
  }

  @media only screen and (max-width: $width-tablet) {
    height: 100vh;
  }
}
