@use 'assets/css/variables' as *;

.logInGoogle {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  color: $dark-blue;

  background-color: $light-grey;

  .inscription {
    margin-left: 1rem;
    font-size: $middle-font-size;
  }
}
