@use 'assets/css/variables' as *;

.contentWrapper {
  margin: 3rem auto;
  padding: 3rem;
  border-radius: 2px;
  background-color: $light-green;

  &.light {
    box-shadow: $content-wrapper-light-shadow;
  }

  &.strong {
    box-shadow: $content-wrapper-strong-shadow;
  }

  &.small {
    width: 40%;
  }

  &.medium {
    width: 60%;
  }

  &.large {
    width: 80%;
  }
}
