.block {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  width: 100%;

  .title {
    padding-right: 3.5rem;
  }

  .mainContent {
    display: flex;
    justify-content: space-between;

    .text {
      &:not(:first-child) {
        margin-left: 2rem;
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    .image {
      width: 15vw;
      height: 15vw;
    }
  }

  &:not(:first-child) {
    margin-top: 2.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
