@use 'assets/css/variables' as *;

.modeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 20vw;
  border: $main-border;

  transition: $button-transition;

  &:hover {
    box-shadow: $button-shadow;
  }

  .image {
    height: 35vh;
  }
}
