@use 'assets/css/variables' as *;

.shareRoomModal {
  width: 25vw !important;

  .email {
    font-size: $middle-font-size !important;
    color: $dark-blue !important;
    background-color: $light-grey !important;
  }

  .emailsInput {
    border: $main-border;
    border-radius: 0;

    &.focused {
      border-color: $main-green !important;
      color: $dark-blue !important;
      box-shadow: $input-shadow;
    }
  }

  .sendButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 7rem;
    height: 3.5rem;
    margin: 0 auto;

    font-size: $middle-font-size;
    color: $white;

    background-color: $main-green;
  }
}
