@use 'assets/css/variables' as *;

.settings {
  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .cards {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      text-align: start;

      .card {
        margin: 2rem;

        &.racingCard {
          margin-left: 0;
        }

        .racingCardFieldsContainer {
          display: flex;
          flex-direction: column;

          .racingField {
            width: 55px;
          }
        }
      }
    }

    .submitButton {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 12rem;
      height: 3.5rem;
      margin: 1rem 0;

      font-size: $middle-font-size;
      color: $white;

      background-color: $main-green;
    }
  }
}
