@use 'assets/css/variables' as *;

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 13rem;
  height: 3.5rem;
  margin: 1rem 0;

  font-size: $middle-font-size;
  color: $white;

  background-color: $main-green;
}
