@use 'assets/css/variables' as *;

.contentContainer {
  display: flex;
  align-items: center;

  margin: 0 1.25rem;
  border: none;

  font-weight: bolder;
  font-style: italic;
  color: $white;

  background-color: inherit;
  outline: none;

  .icon {
    margin-right: 0.5rem;
    font-size: $header-icon-font-size;
  }

  .label {
    @media only screen and (max-width: $width-tablet) {
      display: none;
    }
  }

  &.active {
    color: $dark-blue;
  }
}
