@use 'assets/css/variables' as *;

.formField {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
  justify-content: flex-end;

  font-size: $middle-font-size;
  color: $dark-blue;

  .label {
    margin: 0;
  }

  .inputRow {
    display: flex;

    .input {
      display: flex;
      align-items: baseline;

      width: 100%;
      height: 3.5rem;
      border: $main-border;
      border-radius: 0;

      font-size: inherit;
      color: $dark-blue;

      background-color: $white;

      &::placeholder {
        font-size: $middle-font-size;
        color: $dark-grey;
      }

      &:focus {
        border-color: $main-green !important;
        color: $dark-blue !important;
        background-color: $white !important;
        box-shadow: $input-shadow;
      }
    }

    &.withCopyButton {
      .input {
        flex-grow: 1;
      }

      .copyButton {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 3.5rem;
        height: 3.5rem;

        color: $white;

        background-color: $main-green;

        .copyIcon {
          font-size: $middle-icon-font-size;
        }
      }
    }
  }

  &.flexColumn {
    flex-direction: column;
    align-items: flex-start;

    .inputRow {
      width: 100%;

      .input {
        flex-grow: 1;
        width: auto;
      }
    }

    .label {
      margin-bottom: 0.25rem;
    }
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .note {
    font-size: $small-font-size;
  }

  .error {
    display: block;
  }
}
