@use 'assets/css/variables' as *;

.roomCard {
  height: 20vh;
  padding: 3rem;

  .avatarsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    .avatar:not(:first-child) {
      margin-left: -1rem;
    }
  }

  &:hover {
    box-shadow: $button-shadow;
  }
}
