@use 'assets/css/variables' as *;

.rooms {
  width: 100%;
  height: 100%;
  padding: 3rem;

  .lessonCards {
    counter-reset: list;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.75rem 3rem;

    list-style: none;
  }

  .createRoomButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 12rem;
    height: 3.5rem;
    margin: 1rem 0;

    font-size: $middle-font-size;
    color: $white;

    background-color: $main-green;
  }
}
