@use 'assets/css/variables' as *;

.dropdown {
  & > a.dropdownToggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $white;

    &[aria-expanded='true']::after {
      color: $dark-blue;
    }
  }

  div.dropdownMenu {
    width: 100%;
    margin-top: 1rem;
    font-size: $middle-font-size;

    .dropdownItem {
      display: block;

      padding: 0.5rem 1.5rem;

      font-weight: 600;
      color: $dark-blue;
      text-decoration: none;

      &:active {
        background-color: $light-grey;
      }
    }

    i {
      line-height: $middle-icon-font-size;

      &::before {
        font-size: $middle-icon-font-size;
      }
    }
  }
}
