@use 'assets/css/variables' as *;

.typingCanvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 1.3rem;

  background: #fff;
  outline: none;
  box-shadow: $typing-canvas-light-shadow;

  .timerBeforeTyping {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    font-size: $extra-large-font-size;
  }

  .gameTimer {
    position: absolute;
    top: 60px;

    display: flex;
    justify-content: center;

    margin: 0 auto;
  }

  .typedSymbol {
    &.correctTyped {
      background-color: rgba($main-green, 0.7);
    }

    &.incorrectTyped {
      background-color: rgba($main-red, 0.7);
    }
  }

  .readyButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 12rem;
    height: 3.5rem;
    margin: 1rem 0;

    font-size: $middle-font-size;
    color: $white;

    &.ready {
      background-color: $main-red;
    }

    &.notReady {
      background-color: $main-green;
    }
  }
}
