@use 'assets/css/variables' as *;

.racingModalDialog {
  max-width: 45vw !important;

  .modeCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.racing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  height: calc(100% - 3rem);

  .carRacing {
    display: flex;
    justify-content: center;
    height: 70vh;
    margin-bottom: 3rem;
  }

  .openModalButton {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 60rem;
    height: 6.5rem;
    border: 3px solid $black;

    font-size: $extra-large-font-size;
    color: $black;

    background-color: $white;
  }
}
