.withHeader {
  display: grid;
  grid-template-rows: 60px 1fr;
  width: 100%;
  max-width: 100vw;

  .childComponent {
    min-height: calc(100vh - 60px);
    background-image: url('../../../../assets/img/background.png');
    background-size: contain;
  }
}
