@use 'assets/css/variables' as *;

.dialog {
  max-width: none !important;

  .modal {
    margin: 0 auto;
    padding: 0 1rem 1rem;
    border-radius: 0 !important;

    .title {
      font-size: $large-font-size !important;
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;

      min-width: 7rem;
      height: 3.5rem;

      font-size: $middle-font-size;
    }

    .submitButton {
      color: $white;
      background-color: $main-green;
    }

    .cancelButton {
      border: $main-border;
    }

    button:focus {
      box-shadow: none !important;
    }
  }
}
