.theory {
  .intro {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .keyboardImage {
    width: 70%;
    margin: 0 auto;
  }
}

.suggestions {
  counter-reset: list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;

  list-style: none;

  .suggestionCard:last-child {
    margin-right: auto;
    margin-left: auto;
  }

  .suggestionText {
    margin: 0;
    line-height: 1.6;
  }
}
